@import '../../styles/variables';
.root {
	margin-top: $spacing-large;
	margin-left: $spacing-large;
	@media (max-width: 395px) {
				margin-left: 0;
			}
	li {
		display: inline-block;
		a {
			text-align: center;
			width: 45px;
			height: 45px;
			line-height: 42px;
			border: 1px solid $orange;
			border-radius: 30px;
			margin-right: 10px;
			cursor: pointer;
			display: inline-block;
			color: $orange;
			transition: $transition;
			&:hover {
				background-color: $orange;
				color: $white;
			}
			&:focus-visible{
				outline: none;
			}
			
		}
	}

	:global {
		.selected {
			a {
				background-color: $orange;
				color: $white;
				
			}
		}
	}
}
