@import '../../styles/variables';

.content {
	margin: 120px auto;
	max-width: 600px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		margin-bottom: $spacing-medium;
	}
	p {
		font-size: $font-size-subtitle;
		font-weight: $font-regular;
		margin-bottom: $spacing-large;
		opacity: 0.5;
	}
	img {
		max-width: 300px;
		margin-bottom: $spacing-large;
	}
	.btn {
		display: inline-block;
		button {
			width: 210px;
			cursor: pointer;
			display: flex;
			align-items: center;
			font-size: $font-size-main;
			padding: $spacing-medium $spacing-large;
			border-radius: $border-radius-large;
			border: none;
			color: $white;
			background-color: $black;
			transition: $transition;
			svg {
				margin-right: $spacing-small;
			}
			&:hover {
				opacity: 0.9;
			}
		}
	}
}
